#tweet-text{
  width: 100%;
  background-color: transparent;
  font-family: serif;
  outline: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 4px solid black;

}
.submit-counter-container{
display: flex;
justify-content: space-between;
}

button{
  font-family: Bungee;
}
.counter{
  font-family: Bungee;
  justify-content: flex-end;
  align-items: right;

}
.text-red {
  color: darkolivegreen;
}

.new-tweet-container{
  border: 1px;
  display: block;
  justify-content: space-between;
}

.bar {
  padding: 10px;
  margin: 10px;
  color: #333;
  background: #fafafa;
  border: 1px solid #ccc;
}

.error {
  color: #ba3939;
  background: #ffe0e0;
  border: 1px solid #a33a3a;
}
/* Using jQuery and an appropriate selector, register an event handler to the textarea element for the form inside of the .new-tweet section. */

@media screen and (min-width: 1024px){ 
#main-area {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  #main-area {
    display: flex;
  }
}

@media screen and (max-height: 1050px) {
  #main-area {
    display: flex;
  }
}


}